.combined-wrapper {
   width: 100vw;
}
  .texty span {
    display: inline-block;
    white-space: pre-wrap;
  }
  .texty.mask-bottom,
  .texty.mask-top {
    overflow: hidden;
  }
  .combined {
    color: #345F90;
    width: 348px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .combined-shape > * {
    width: 50%;
    height: 64px;
    overflow: hidden;
  }
  .combined-shape > * > * {
    width: 100%;
    height: 100%;
  }
  .combined-shape .shape-left {
    left: 0;
  }
  .combined-shape .shape-right {
    right: 0;
  }
  .combined .title {
    font-size: 58px;
    letter-spacing: 8px;
    width: 350px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .combined-bar {
    width: 100%;
    height: 2px;
    background: #345F90;
    top: 70px;
  }
  .combined .content {
    font-size: 12px;
    text-align: center;
    top: 78px;
  }
  