.talk-list {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: visible;
    height: 90%;
    padding: 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 450px;
    max-height: 500px;
    overflow: scroll;

   &-item {
       &--left {
         text-align: left;
         margin-bottom: 1em;
         .message {
            display: inline-block;
            background: dimgrey;
            color: #fff;
            padding: 0.6em;
            border-radius: 10px;
            border-top-left-radius: 0;
            animation-name: bounceIn;
            animation-duration: 0.4s;
            animation-fill-mode: both;
         }
       }

       &--right {
         text-align: right;
         margin-bottom: 1em;
         .message {
            display: inline-block;
            background: #00ac92;
            color: #fff;
            padding: 0.6em;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-top-left-radius: 10px;
            animation-name: bounceIn;
            animation-duration: 0.4s;
            animation-fill-mode: both;
         }
       }
   }
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }