.hq-tab {
    display: flex;

    li {
        padding: 10px;
        background-color: #a0a0a0;
        color: #fff;
        margin-right: 10px;
        box-shadow: 0 0 10px 0 #000;
    }

    .active {
        background-color: #000;
        font-weight: bold;
        transform: skew(-10deg);
    }
}